# Unix
alias ll="ls -al"
alias ln="ln -v"
alias mkdir="mkdir -p"
alias e="$EDITOR"
alias v="$VISUAL"

# Remap vim to neovim
alias vim=nvim

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# Quick edits
alias ea='vim ~/.aliases.local'
alias ez='vim ~/.zshrc.local'
alias eg='vim ~/.gitconfig'
alias ev='vim ~/.vimrc'
alias es='vim ~/bin/autosort'
alias et='vim ~/.tmux.conf'

# Hosts
alias hosts='sudo vim /etc/hosts'

# ls
alias ls='gls -AFh --color --group-directories-first'

# Common shell functions
alias psg='ps aux | grep '
alias tf='tail -f'
alias cl='clear'

# File systems
alias chmox='chmod +x'

# Editors
alias v='vim'

# Node
alias ns='npm start'
alias ni='npm install'

# Yarn
alias ys='yarn start'
alias yi='yarn install'

# Lock the screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"
