"*":
  autosave:
    enabled: true
  core:
    allowPendingPaneItems: false
    audioBeep: false
    telemetryConsent: "no"
    themes: [
      "native-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    scrollPastEnd: false
    showIndentGuide: true
    softWrap: true
    softWrapHangingIndent: 5
  "exception-reporting":
    userId: "b0c2c5a9-3128-4a64-a1ee-9822b93a1e31"
  "native-ui":
    ui:
      macTransparency: false
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
