packages: [
  "atom-beautify"
  "busy-signal"
  "emmet"
  "emmet-jsx-css-modules"
  "file-icons"
  "git-plus"
  "goto-definition"
  "highlight-selected"
  "intentions"
  "language-babel"
  "language-blade"
  "linter"
  "linter-eslint"
  "linter-php"
  "linter-ui-default"
  "native-ui"
  "package-sync"
  "set-syntax"
]
